<template>
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li v-for="(item, i) in items" class="nav-item">
            <a v-if="item.children.length > 0" :target="item.target"
               :href="item.href" class="nav-link">
                <i :class="item.icon_class"></i>
                <p>
                    {{ item.title }}
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <dropdown-menu v-if="item.children.length > 0" :items="item.children"></dropdown-menu>
            <a v-else :target="item.target"
               :href="item.href" class="nav-link">
                <i :class="item.icon_class"></i> <!--nav-icon fas fa-th-->
                <p>
                    {{ item.title }}
                </p>
            </a>
            <!--<a  :href="item.children.length > 0 ? '#' : item.href" :class="i === 1 ? 'nav-link active': 'nav-link'">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    {{ item.title }}
                    <span class="right badge badge-danger">New</span>
                </p>
            </a>-->
            <!--        <dropdown-menu v-if="item.children.length > 0" :items="item.children"></dropdown-menu>-->

            <!--            <div v-if="item.children.length > 0" :id="item.id+'-dropdown-element'" :class="'panel-collapse collapse' + (item.active ? ' in' : ' ')">-->
            <!--                <div class="panel-body">-->
            <!--                    <admin-menu :items="item.children"></admin-menu>-->
            <!--                </div>-->
            <!--            </div>-->
        </li>
    </ul>
</template>
<script>
export default {
    props: {
        items: {
            type: [Array, Object],
            default: [],
        }
    },
    data () {
        return {
            currentLink: location.href,

        }
    },
    computed: {
        routes() {
            return window.routes
        },
    },
    methods: {
        classes: function (item) {
            var classes = [];
            if (item.children.length > 0) {
                classes.push('dropdown');
            }
            if (item.active) {
                classes.push('active');
            }


            return classes.join(' ');
        },
        color: function (item) {
            if (item.color && item.color !== '#000000') {
                return item.color;
            }

            return '';
        },
        route(url) {
            return this.routes.route(url)
        },
        activeClass(segment) {
            return segment === this.currentLink ? 'active' : ''
        },
        setCurrentLink() {
            this.currentLink = new URL(location.href).pathname.split('/').pop();
        }
    }
};
</script>
