<template>
    <ul class="nav nav-treeview">
        <li v-for="(item, i) in items" class="nav-item">
            <a :target="item.target" :href="item.href" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>{{ item.title }}</p>
            </a>
        </li>

    </ul>
</template>

<script>
export default {
    props: {
        items: {
            type: Array,
            default: [],
        }
    },
}
</script>

<style scoped>

</style>
